<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReinoDeHyrule" value=".\resource\Mapas\hyrule.csv"/>
		<add key="Dungeon1" value=".\resource\Mapas\dungeon1.csv"/>
		<add key="Dungeon2" value=".\resource\Mapas\dungeon2.csv"/>
		<add key="Dungeon3" value=".\resource\Mapas\dungeon3.csv"/>
	</appSettings>
</configuration>